<!DOCTYPE html>
<html>
<h1>
Computers Needed
</h1>
<form>
Specific requested amount:*</br>
<input type="text" name="Requested Amount"><br>

What would happen if you did not receive the computers from STL?*</br>
<input type="text" name="NoComputersFromSTL"><br>

(Optional) Please provide any information that could strengthen your application that may not have been covered above.</br>
<input type="text" name="ExtraInformation"><br>

<input type="submit" name="Submit"></br></br>
</form>
</html>