<!DOCTYPE html>
<html>
<h1>
<b>Business Contact Information</b>
</h1>

<form>
Name of organization:</br>
<input type="text" name="nameOfOrganization"></br>

Charitable Registration Number:</br>
<input type="text" name="CharitableRegistrationNumber"></br>

Contact Name:</br>
<input type="text" name="ContactName"><br>

Address:</br>
<input type="text" name="Address"><br>

Phone Number:</br>
<input type="text" name="PhoneNumber"><br>

E-mail Address:</br>
<input type="text" name="E-mailAddress"><br>

Organization Website:</br>
<input type="text" name="ContactName"><br>

</form>

<h1>
<b>Organization Description:</b>
</h1>

<form>
Mission Statement:</br>
<input type="text" name="MissionStatement"><br>

History of Organization:</br>
Provide a brief (200 words, maximum) history of your organization</br>
<input type="text" name="HistoryOfOrganization"><br>

Programs and Services:</br>
Briefly describe your organization's main programs and services</br>
<input type="text" name="ProgramsAndServices"><br>

Target Populations:</br>
<input type="text" name="TargetPopulation"><br>

(Optional) Accolades and accomplishments:</br>
<i>Provide information on any awards and successes</i></br>
<input type="text" name="Accomplishments"><br>
</form>
</html>