<!DOCTYPE html>
<html>
<h1>
Business Contact Information
</h1>

<form>
Name of organization:</br>
<input type="text" name="nameOfOrganization"></br>

Charitable Registration Number:</br>
<input type="text" name="CharitableRegistrationNumber"></br>

Contact Name:</br>
<input type="text" name="ContactName"><br>

Address:</br>
<input type="text" name="Address"><br>

Phone Number:</br>
<input type="text" name="PhoneNumber"><br>

E-mail Adress:</br>
<input type="text" name="E-mailAddress"><br>

Organization Website:</br>
<input type="text" name="ContactName"><br>

<input type="submit" name="Submit"></br></br>
</form>
</html>