<!DOCTYPE html>
<html>
<header>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</header>
<body>
<div class="container theme-showcase" role="main">
<div class="jumbotron">
<h2>
<b>Computers Needed</b>
</h2>
<form>
Specific requested amount:</br>
<input type="text" name="Requested Amount"><br>

What would happen if you did not receive the computers from STL?</br>
<input type="text" name="NoComputersFromSTL"><br>

(Optional) Please provide any information that could strengthen your application that may not have been covered above.</br>
<input type="text" name="ExtraInformation"><br></br>
<p>
    <button type="button" class="btn btn-sm btn-info">Submit</button>
</p>
	
</form>
</div></div>
</body>
</html>