<!DOCTYPE html>
<html>
<h1>
Organization Descrpiton:
</h1>

<form>
Mission Statement:</br>
<input type="text" name="MissionStatement"><br>

History of Organization:</br>
Provide a brief (200 words, maximum) history of your organization</br>
<input type="text" name="HistoryOfOrganization"><br>

Programs and Services:</br>
Briefly describe your organization's main programs and services</br>
<input type="text" name="ProgramsAndServices"><br>

Target Populations:</br>
<input type="text" name="TargetPopulation"><br>

Provide information on any awards and successes:</br>
(Optional) Accolades and accomplishments:</br>
<input type="text" name="Accomplishments"><br>

<input type="submit" name="Submit"></br></br>
</form>
</html>