<!DOCTYPE html>
<html>
<h1>
<b>Computers Needed</b>
</h1>
<form>
Specific requested amount:</br>
<input type="text" name="Requested Amount"><br>

What would happen if you did not receive the computers from STL?</br>
<input type="text" name="NoComputersFromSTL"><br>

<i>(Optional) Please provide any information that could strengthen your application that may not have been covered above.</i></br>
<input type="text" name="ExtraInformation"><br></br>

<input type="submit" name="Submit"></br>
</form>
</html>