<!DOCTYPE html>
<html>
<header>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</header>
<body>
<div class="container theme-showcase" role="main">
<div class="jumbotron">

				<h5 style="text-align:right">Hello $Username</h5>
				<h5 style="text-align:right">
					<form action="log_out" class="inline">
						<button id="LogoutButton" type="submit" class="btn btn-lg btn-info">Logout</h5></button>
					</form>		
					
<h2>
<b>Business Contact Information</b>
</h2>

<form>
Full Name:</br>
<input type="text" name="FullNameOfUser"></br>

Email:</br>
<input type="text" name="Email"></br>

Password:</br>
<input type="text" name="Password"><br>

Verify your Password:</br>
<input type="text" name="VerifiedPassword"><br></br>

Name of organization:</br>
<input type="text" name="nameOfOrganization"></br>

Charitable Registration Number:</br>
<input type="text" name="CharitableRegistrationNumber"></br>

Contact Name:</br>
<input type="text" name="ContactName"><br>

Address:</br>
<input type="text" name="Address"><br>

Phone Number:</br>
<input type="text" name="PhoneNumber"><br>

E-mail Address:</br>
<input type="text" name="E-mailAddress"><br>

Organization Website:</br>
<input type="text" name="ContactName"><br>

</form>

<h2>
<b>Organization Description:</b>
</h2>

<form>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
Mission Statement:</br>
<input type="text" name="MissionStatement"><br>

History of Organization:</br>
Provide a brief (200 words, maximum) history of your organization</br>
<input type="text" name="HistoryOfOrganization"><br>

Programs and Services:</br>
Briefly describe your organization's main programs and services</br>
<input type="text" name="ProgramsAndServices"><br>

Target Populations:</br>
<input type="text" name="TargetPopulation"><br>

(Optional) Accolades and accomplishments:</br>
<i>Provide information on any awards and successes</i></br>
<input type="text" name="Accomplishments"><br>
<p>
    <input type="submit" class="btn btn-sm btn-info">Submit</input>
</p>
</form>
</div></div>
</body>
</html>