<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<title>Sky's The Limit - Giving tech to those in need!</title>
</head>
<body>
	<div class="container theme-showcase" role="main">
		<div class="jumbotron">
			<img src="images/skyslimit_logo.jpg" alt="Sky's The Limit Logo">
			<h1>Welcome!</h1>
			
			<p>Thank you for your interest in Sky’s the Limit Youth Organization (STL)! </p>
			<p>STL provides portable computers to the youth who need them. STL provides services to all under-resourced youth regardless of race, gender, religious belief or sexual orientation. </p>
		</div>
		<div style="max-width:480px;margin-left:auto;margin-right:auto">
			<form class="form-signin" role="form">
				<h2 class="form-signin-heading">Please sign in or <a href="org_create_form.html">Create Account</a></h2>
				<input class="form-control" type="username" autofocus="" required="" placeholder="username"></input>
				<input class="form-control" type="password" required="" placeholder="Password"></input>
				
				<button class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
			</form>
		</div>
	</div>
</body>
</html>