<!DOCTYPE html>
<head>
</head>
<body>
	<form name="input" action="/log_in" method="post">
		User name: <input type="text" name="username"><br/>
		Password: <input type="password" name="password"><br/>
	<input type="submit" value="Submit">
</form> 
</body>

</html>