<!DOCTYPE html>
<html>
<header>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</header>
<body>
<h1>
<b>Registration Form</b>
</h1>

<form class="page-header">
Full Name:</br>
<input type="text" name="FullNameOfUser"></br>

Email:</br>
<input type="text" name="Email"></br>

Password:</br>
<input type="text" name="Password"><br>

Verify your Password:</br>
<input type="text" name="VerifiedPassword"><br></br>

<p>
    <button type="button" class="btn btn-lg btn-info">Submit</button>
</p>

</form>
</body>
</html>