<!DOCTYPE html>
<html>
<header>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</header>
<body>
<div class="container theme-showcase" role="main">
<div class="jumbotron">
<h5 style="text-align:right">Hello $Username</h5>
	<h5 style="text-align:right">
		<form action="log_out" class="inline">
			<button id="LogoutButton" type="submit" class="btn btn-lg btn-info">Logout</h5></button>
		</form>		
<h2>
<b>Computers Needed</b>
</h2>
<form method="post" action="/post_form_appl">
	Specific requested amount:</br>
	<input type="text" name="amount"><br>
	
	What would happen if you did not receive the computers from STL?</br>
	<input type="text" name="no_computers"><br>
	
	(Optional) Please provide any information that could strengthen your application that may not have been covered above.</br>
	<input type="text" name="extra_info"><br></br>
	<p>
	    <button type="submit" class="btn btn-sm btn-info">Submit</button>
	</p>
		
</form>
</div></div>
</body>
</html>