<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<title>Sky's The Limit - Giving tech to those in need!</title>
</head>
<body>
	<div class="container theme-showcase" role="main">
		<div class="jumbotron">
			<img src="images/skyslimit_logo.jpg" alt="Sky's The Limit Logo" style="margin-left:auto;margin-right:auto">
			<h1>Please verify your account</h1>
			<p>Please insert the number that was emailed to you:</p>
			<div style="max-width:480px;margin-left:auto;margin-right:auto">
				<form class="form-signin" role="form" action="/activate" method="post">
				
					<input class="form-control" type="text" placeholder="email" name="email"></input>
					<input class="form-control" type="text" placeholder="number" name="number"></input>
					
					<button class="btn btn-lg btn-primary btn-block" type="submit">Verify me</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>
