<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<title>Sky's The Limit - Giving tech to those in need!</title>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div class="container theme-showcase" role="main">
		<div class="jumbotron">
			<h5 style="text-align:right">Hello <%=username%></h5>
				<h5 style="text-align:right">
					<form action="log_out" class="inline">
						<button id="LogoutButton" type="submit" class="btn btn-lg btn-info">Logout</h5></button>
					</form>		
			<form id="newapp" method="post" action="/post_form_appl">
				Specific requested amount:</br>
				<input type="text" name="amount" value="<%= info["amount"] %>" 
					<% if (info[status] != 0) { %> disable="true" <% }; %>
				><br>
				
				What would happen if you did not receive the computers from STL?</br>
				<textarea name="no_computers" form="newapp" cols="100" rows="5" value="<%= info["amount"] %>"
					<% if (info[status] != 0) { %> disable="true" <% }; %>
				></textarea></br>
				
				(Optional) Please provide any information that could strengthen your application that may not have been covered above.</br>
				<textarea name="extra_info" form="newapp" cols="100" rows="5" value="<%= info["amount"] %>"
					<% if (info[status] != 0) { %> disable="true" <% }; %>
				></textarea></br>
				
				<% if (info[status] == 0) { %> 
					<p><input type="submit" class="btn btn-sm btn-info" name="Submitjj"></input></p>
				<% }; %>
			</form>
		</div>
	</div>
</body>
</html>