<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<title>$OrgName - Application</title>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div class="container theme-showcase" role="main">
		<div class="jumbotron">
			<form id="newapp" method="post" action="">
				Specific requested amount:</br>
				<input id="amount" type="text" name="amount" value="<%= info["amount"] %>"
					<% if (info["status"] != 0) { %> disabled <% } %>
				></br>
				
				What would happen if you did not receive the computers from STL?</br>
				<textarea id="no_computers" name="no_computers" form="newapp" cols="100" rows="5" value="<% info["no_computers"] %>
					<% if (info["status"] != 0) { %> disabled <% } %>
				></textarea></br>
				
				(Optional) Please provide any information that could strengthen your application that may not have been covered above.</br>
				<textarea id="extra_info" name="extra_info" form="newapp" cols="100" rows="5" value="<% info["extra_info"] %>
					<% if (info["status"] != 0) { %> disabled <% } %>
				></textarea></br>
				
				<% if (info["status"] == 0) { %>
				<p><button type="submit" class="btn btn-sm btn-info" name="Submit"></button></p>
				<% } %>
			</form>
		</div>
	</div>
</body>
</html>