<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<title>Sky's The Limit - Giving tech to those in need!</title>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div class="container theme-showcase" role="main">
		<div class="jumbotron">
			<h3><b>Business Contact Information</b></h3>
			
			<form>
				Name of organization:</br>
				<input type="text" name="nameOfOrganization"></br>

				Charitable Registration Number:</br>
				<input type="text" name="CharitableRegistrationNumber"></br>
				
				Email:</br>
				<input type="text" name="Email"></br>

				Contact Name:</br>
				<input type="text" name="ContactName"><br>

				Address:</br>
				<input type="text" name="Address"><br>

				Phone Number:</br>
				<input type="text" name="PhoneNumber"><br>

				E-mail Address:</br>
				<input type="text" name="E-mailAddress"><br>

				Organization Website:</br>
				<input type="text" name="ContactName"><br>

				Password:</br>
				<input type="password" name="Password"></br>

				Verify your Password:</br>
				<input type="password" name="VerifiedPassword"></br>

				<h3><b>Organization Description:</b></h3>

				<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
				Mission Statement:</br>
				<input type="text" name="MissionStatement"></br>

				History of Organization:</br>
				<i>Provide a brief (200 words, maximum) history of your organization</i></br>
				<input type="text" name="HistoryOfOrganization"></br>

				Programs and Services:</br>
				<i>Briefly describe your organization's main programs and services</i></br>
				<input type="text" name="ProgramsAndServices"></br>

				Target Populations:</br>
				<i>i.e. people, neighbourhoods and communities served by the program</i></br>
				<input type="text" name="TargetPopulation"></br>
				
				Computer Program Description:</br>
				<i>Briefly describe the computer mentoring/tutoring program, objectives, and outcomes, providing any relevant statistics.</i></br>
				<input type="text" name="TargetPopulation"></br>

				(Optional) Accolades and accomplishments:</br>
				<i>Provide information on any awards and successes</i></br>
				<input type="text" name="Accomplishments"></br>
				<p><input type="submit" class="btn btn-sm btn-info" value="Submit"></p>
			</form>
		</div>
	</div>
</body>
</html>